.reserve_input
{
    width: 99%;
    height: 40px;
}
.send-btn
{
    width: 150px;
    text-align: center;
    position: absolute;
    right: 0;
    height: 40px;
    font-size: 20px;
    background-color: rgb(60, 17, 34);
    border: none;
    color:white;
    border-radius: 5px;
    margin-top: 10px;
}
.send-btn:hover
{
    background-color: rgb(60, 17, 34);
    box-shadow: 4px 4px 10px white;
}