.box
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content
{
    color: white;
    font-size: 4rem;
    position: relative;
    z-index: 1;
}
.box::after{
    content: "";
    position: absolute;
    background: rgba(44,29,22,255);
    inset: 4px;
}
.box::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff,#d400d4);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}